@import '../scss/colors.scss';
@import '../scss/mixins.scss';

.chat_navbar {
    width: 100%;
    height: 8%;
    background-color: $semi-black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.chat_navbar-options {
    display: flex;
    gap: 1rem;
}

.chat_navbar-arrow {
    display: none;
    @include smallSize {
        display: flex;
    }
}