.messages {
    height: 100%;
    width: 80%;
    // padding: 2rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.messages::-webkit-scrollbar {
    display: none;
}