@import '../scss/colors.scss';
@import '../scss/mixins.scss';

.sidebar {
    width: 30%;
    border-right: 2px solid $light-black;
    transform: translateX(0);
    @include smallSize {
        display: block;
        width: 100%;
        position: absolute;
        background-color: $dark-black;
        height: 100vh;
        z-index: 1;
        transition: 0.2s all;
    }
}